@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import "tailwindcss";
@import "./Chore/ChoreCard/ChoreCSS/chore.css";

.comfortaa {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: bold;
  }

  .custom-scroll::-webkit-scrollbar {
    display: none;
  }
  .custom-scroll {
    -ms-overflow-style: none;  /* Для старых версий IE */
    scrollbar-width: none;     /* Для Firefox */
  }

  .img {
    background-image: url("/src/assets/pattern-32.svg");
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
  }