@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Marmelad&display=swap');
@import "./Chore/ChoreCard/ChoreCSS/chore.css";
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import "tailwindcss";

.comfortaa {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: bold;
  }